@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewData["Title"] = "Edit ProductFilter";
}

@model Ecommerce_Website.Core.Models.ProductFilter

<form method="post" asp-controller="ProductFilters" asp-action="Edit" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Product Size *</label>
        <input type="text" asp-for="Size" class="form-control"  placeholder="Enter Size">
        <span asp-validation-for="Size"></span>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-warning"> Edit </button>
        <a class="btn btn-close-white" asp-action="ProductFilter">Cancel</a>
    </div>
</form>