@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

@{
    ViewData["Titel"] = "Add Categories";
}

@model Ecommerce_Website.Core.ViewModels.CategoriesViewModel

<div class="content">
    <div class="container-fluid d-flex " style="height: 100vh;">
        <form method="post" asp-controller="Dashboard" asp-action="Add" >
            <div class="mb-3" style="border: 5px solid #28a745; padding: 20px; border-radius: 10px; width: 600px; background-color: transparent;">
               
                <label  name="Name" class="form-label">Category Name</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" style="border-radius: 5px;">
                <span asp-validation-for="Name"></span>

            </div>
            <div class="mb-3" style="border: 5px solid #28a745; padding: 10px; border-radius: 10px; width: 600px; background-color: transparent;">
                
                <label  name="Description" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" placeholder="Enter Description" rows="3"></textarea>
            
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning "> Add </button>
                <a class="btn btn-close-white " asp-action="Categories" >Cancel</a>
            </div>
        </form>
    </div> 
</div>

