@model IEnumerable<CategoryModel>;

@if (!Model.Any()){
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            No Categories
        </div>
    </div>
}
else{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Deleted</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.IsDeleted</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
    </table>
}