<footer class="footer">
    <div id="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="copyright">
                    <p>Distributed by Mohamed Elekhnawy © 2025 Green verta. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>

</style>