<div class="row py-3 border-bottom px-3">
    <!-- Icon image -->
    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
        <div class="main-logo">
            <a href="index.html">
                <img src="#" alt="logo" class="img-fluid">
            </a>
        </div>
    </div>

    <!-- Search bar -->
    <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
        <div class="search-bar row bg-light p-2 my-2 rounded-4">        
            <div class="col-11 col-md-7">
                <form id="search-form" class="text-center" action="index.html" method="post">
                    <input type="text" class="form-control border-0 bg-transparent" placeholder="Search">
                </form>
            </div>
        </div>
    </div>

    <!-- Cart and Icons -->
    <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
        <ul class="d-flex justify-content-end list-unstyled m-0">
            <li>
                <a href="#" class="rounded-circle bg-light p-2 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>
                </a>
            </li>
        </ul>

        <div class="cart text-end d-none d-lg-block dropdown me-3">
            <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <span class="fs-6 text-muted dropdown-toggle">Your Cart</span>
                <span class="cart-total fs-5 fw-bold"></span>
            </button>
        </div>
    </div>
</div>
