<!DOCTYPE html>
<html lang="en">
<head>
    <title>Green Verta-@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo png.png" />
    <!-- ========================= Tailwind here ========================= -->
	<link href="~/lib/tailwindcss/base.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/components.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/tailwind-dark.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/tailwind.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/tailwind-experimental.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/utilities.min.css" rel="stylesheet" />
    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="~/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/assets/css/glightbox.min.css" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<link href="~/assets/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <header>
        <partial name="_Header" />
    </header>
    @RenderBody()
    <footer>
        <partial name="_Footer" />
    </footer>
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/tiny-slider.js"></script>
    <script src="~/assets/js/glightbox.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
