<div class="header py-3">

    <div class="d-flex justify-content-center justify-content-sm-between align-items-center container-fluid">
        <nav class="main-menu d-flex navbar navbar-expand-lg">

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">

                    <select class="filter-categories border-0 mb-0 me-5">
                        <option>Shop by Departments</option>
                    </select>

                    <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">Categories</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li><a href="index.html" class="dropdown-item">About Us </a></li>
                            </ul>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
    </div>
</div>


