<div class="header py-3">

    <div class="d-flex justify-content-center justify-content-sm-between align-items-center container-fluid">
        <nav class="main-menu d-flex navbar navbar-expand-lg">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">Categories</a>
                        </li>
                        <li class="nav-item active">
                            <a asp-controller="Product" asp-action="Index" class="nav-link">Products</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>
</div>


