@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = " إعادة تعيين كلمة المرور";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<form class="form" method="post" asp-page="./ConfirmEmail">
    <p class="form-title">تم إرسال رابط إعادة تعيين كلمة المرور</p>
    <input type="hidden" name="Input.Email" value="@TempData["Email"]" />

    <p class="form-title">
        اذا لم تتلقى اى رساله على بريدك الشخصى يمكنك الرجوع الى <a asp-page="./Login" class="submit secondary">تاكيد الهوية</a> و المحاوله مره اخرى
    </p>
    <div class="input-container">
        <p style="text-align: center;">
            يرجى التحقق من بريدك الإلكتروني، لقد قمنا بإرسال رابط لإعادة تعيين كلمة المرور.
        </p>
    </div>

    <!-- إضافة حقل مخفي للإيميل -->
    

    

    <div class="input-container text-decoration-none" style="text-align: center;">
        العودة
        <a asp-page="./Login" class="submit secondary"> لتسجيل الدخول</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
