@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "نسيت كلمة المرور؟";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<form class="form" method="post">
    <p class="form-title">استعادة كلمة المرور</p>

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="input-container">
        <input asp-for="Input.Email" placeholder="أدخل البريد الإلكتروني" autocomplete="username" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="submit">إرسال رابط إعادة التعيين</button>

    <p class="signup-link">
        تذكرت كلمة المرور؟ <a asp-page="./Login">تسجيل الدخول</a>
    </p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
