@{
    Layout = "_Layout";
    ViewData["Title"] = "Products Page";
}
@model IEnumerable<Product>


<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between mb-4">
                    <h2 class="section-title">Products</h2>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4 col-lg-3 mb-4">
                    <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id" class="card-link">
                        <div class="card product-card p-3 shadow border-0">
                            <img src="~/Images/Products/@product.ImageUrl" class="card-img-top rounded" alt="@product.Name">
                            <div class="card-body text-center">
                                <h5 class="card-title">@product.Name</h5>
                                <div>
                                    @if (product.IsAvailable)
                                    {
                                        <span class="badge bg-success av">In Stock</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger un">Unavailable</span>
                                    }
                                </div>
                                <!-- السعر والديسكاونت -->
                                @if (product.DiscountedPrice > 0 && product.DiscountedPrice < product.Price)
                                {
                                    <p>
                                        <strong>Price:</strong>
                                        <span style="text-decoration: line-through; color: gray;">$@product.Price</span>
                                    </p>
                                    <p>
                                        <strong>Discounted Price:</strong>
                                        <span style="color: #d9534f; font-weight: bold;">$@product.DiscountedPrice</span>
                                    </p>
                                }
                                else
                                {
                                    <p><strong>Price:</strong> $@product.Price</p>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
