@{
    Layout = "_Layout";
    ViewData["Title"] = "المنشورات";
}
@model IEnumerable<Borshor>

<div class="bh  grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    @foreach (var borshor in Model)
    {
        <a href="~/Pdf/Borshors/@borshor.PdfUrl" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg transition duration-300 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full h-48 rounded-t-lg" src="~/Images/Borshors/@borshor.ImageUrl" alt="@borshor.Titel" />
            <div class="flex flex-col justify-between p-4 leading-normal text-center">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 ">@borshor.Titel</h5>
                <p class="mb-3 text-gray-700 dark:text-gray-400">@borshor.Description</p>
            </div>
        </a>
    }
</div>