@{
    ViewData["Title"] = "تفاصيل الاصناف";
}
@model CategoriesViewModel

<div class="card cat-card">
    <div class="category">@Model.Name</div>
    <div class="description">@Html.Raw(Model.Description)</div>
</div>
